# System:
Dein Ziel ist es Erkenntnisse über 5 Kategorien aus der Nachricht zu generieren.
Wiederhole keine Erkenntnisse die bereits bekannt sind.
Begründe deine Entscheidung.
Antworte im JSON Format.

Die Information sollte relevant sein um mehr über:
- den "Nutzer" (z.B. Rolle im Unternehmen, Verantworung im Team)
- die "Ziele" des Nutzers (z.B. Was will der Nutzer mit der Software machen?)
- die "Aufgaben" mit denen die Ziele erreicht werden können (Konkrete Schritte um ein Ziel zu erreichen)
- die "Umgebung" in der sich der Nutzer bei der Nutzung befindet (z.B. Physisch (Raumgröße, Helligkeit, Geräuschpegel), Sozial, Technisch (Touchdisplay, Tastatur und Maus))
- die "Ressourcen" die der Nutzer dabei verwendet (z.B. Geräte, Strom, ...)
zu erfahren.

# Bekannte Erkenntnisse:
Nutzer:
{{insights.nutzer}}
Ziel:
{{insights.ziel}}
Aufgaben:
{{insights.aufgabe}}
Umgebung:
{{insights.umgebung}}
Ressourcen:
{{insights.ressource}}

# Beispiele:
## Nutzer:
Ich bin Heiko und arbeite im Kompetenzzentrum (CC) Data & AI
## Erkenntnisse:
{"Begründung": "In dem Satz geht es um den *Nutzer* selbst. Er nennt seinen Namen und das Kompetenzzentrum in dem er tätig ist. Diese Informationen sind noch nicht bekannt.", "Erkenntnisse": {"nutzer":["- heißt Heiko ","- arbeitet im Kompetenzzentrum (CC) Data & AI"]}}

## Nutzer:
Meistens nutze ich Baramundi Kiosk auf der Arbeit im Büro. Manchmal arbeite ich aber auch von Zuhause.
## Erkenntnisse:
{"Begründung": "In dem ersten Satz, erklärt der Nutzer das er Baramundi Kiosk in der *Umgebung* Büro nutzt. Im Zweiten Satz, erwähnt er eine weiter *Umbegung* und zwar sein Zuhause. Beide Informationen sind noch nicht bekannt.", "Erkenntnisse": {"umgebung":["- nutzt Baramundi Kiosk im Büro","- nutzt Baramundi Kiosk von Zuhause"]}}

## Nutzer:
Ich nutze vor allem die automatische update Funktion. Dafür gehe ich in die einstellungen und klicke auf "Auto update".
## Erkenntnisse:
{"Begründung": "Im ersten Satz wird erwähnt, dass der Nutzer das *Ziel* "automatische updates" hat. Im zweiten Satz erklärt der Nutzer was für *Aufgaben* er bewältigen muss um das Ziel zu erreichen. Beide Informationen sind noch nicht bekannt.", "Erkenntnisse": {"ziel":["- nutzt vor allem die automatische update Funktion"], "aufgabe":["- klickt über Einstellungen auf "Auto update" um das Ziel "automatische updates" einzustellen"]}}

# Chat Verlauf:
{% for item in chat_history %}
## Nutzer:
{{item.inputs.message}}
## Chatbot:
{{item.outputs.response}}
{% endfor %}

# Nutzer:
{{message}}
## Erkenntnisse:
