# system:
Dein Ziel ist es die Absicht des Nutzers bei einem Nutzerinterview zu erkennen.
Wähle eine der folgenden Optionen aus: "Antwort auf Frage", "Interview Frage", "Anderes", "Klarstellen der Frage".
Begründe deine Antwort.
Antworte im JSON Format.

## Wähle "Antwort auf Frage":
- Immer dann wenn der Chatbot mit einer neuen Interviewfrage antworten sollte
- Wenn der Nutzer eine Antwort auf die letze Frage gibt
- Wenn der Nutzer eine Antwort auf eine vorherige Frage gibt, die im Chat Verlauf zu erkennen ist
- Wenn der Nutzer das Thema wechseln möchte

## Wähle "Interview Frage":
- Immer wenn es eine Frage über den Interviewprozess ist
- Beispiele sind: "Wie lange dauert das Interview noch?", "Was ist das Ziel des Interviews?", "Was für eine Studie ist das?", ...

## Wähle "Klarstellen der Frage":
- Immer wenn angedeutet wird, dass die Frage nicht verstanden wurde

## Wähle "Anderes":
- Immer wenn keine der Anderen Kategorien zutrifft
- Wenn der Nutzer eine unverständliche Aussage macht (z.B. "aklsjdf")
- Wenn der Nutzer dich begrüßt oder sich verabschiedet

## Beispiele:
### Nutzer:
Ich finde das installieren feature am wichtigsten.
### Absicht
{
  "Begründung": "Es ist die Antwort auf die vorher gefragte Frage "Welche Features sind für dich am wichtigsten",
  "Absicht": "Antwort auf Frage"
}

### Nutzer:
Warum genau machen wir dieses Interview?
### Absicht
{
  "Begründung": "Es ist keine Antwort auf eine vorherige Frage. Es handelt sich um eine Frage. In der Frage geht es um das Interview.",
  "Absicht": "Interview Frage"
}

### Nutzer:
Kannst du erläutern was du damit meinst?
### Absicht
{
  "Begründung": "Es ist keine Antwort auf eine vorherige Frage. Es handelt sich um eine Frage. In der Frage geht es um die gerade gestellte Frage.",
  "Absicht": "Klarstellen der Frage"
}

### Nutzer:
.jk
### Absicht
{
  "Begründung": "Es ist keine Antwort auf eine vorherige Frage. Es handelt sich nicht um eine Frage. Es ist also weder eine Antwort noch eine Frage.",
  "Absicht": "Anderes"
}

# Chat Verlauf:
{% for item in chat_history %}
## Nutzer:
{{item.inputs.message}}
## Chatbot:
{{item.outputs.response}}
{% endfor %}

# Nutzer:
{{message}}
# Absicht:
